
#table {
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #3b82f6;
    opacity: 0.5;
    color: white;
}

.map {
    height: 400px;
    width: 100%;
}

.chart {
    height: 400px;
    width: 600px;
}
